

.container{
  background-color: black;
  padding: 20px 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title{
  color: white;
  width:400px;
  font-size: 30px;
  text-align: center;
}

.text{
  color: white;
  width:400px;
  font-size: 20px;
}

.card {
  border-radius: 20px;


  width: 100%;
  padding: 20px 40px;

}

.notActive{
  pointer-events: none;
  filter: blur(2px);

}

.video{
  width:400px;
height: 300px;
}

.imgVc{
  object-fit: cover;
  width: 600px;
}


.srcVc:hover{
  border: 1px solid white;
  border-radius:20px2 ;
}